body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2d2d44);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 12vh;
    font-weight: bold;
    letter-spacing: .44vh;
    color: #00eaff;
    text-shadow:
        0 0 1.1vh #00eaff,
        0 0 2.2vh #00eaff,
        0 0 4.4vh #00eaff;
    margin: 4vh;
}

.setup-box {
    background: #2f2f48;
    padding: 4vh;
    border-radius: 2vh;
    width: 30vw;
    box-shadow: 0 1vh 2.5vh rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.6s ease-out;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

label {
    font-size: 3vh;
    margin-bottom: -1vh;
}

input,
select {
    padding: 1.2vh;
    border-radius: 1.0vh;
    border: none;
    font-size: 3vh;
    outline: none;
}

button {
    padding: 1vh;
    font-size: 3vh;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    background: #00eaff;
    color: #1e1e2f;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #00c7d1;
    transform: scale(1.05);
}

button.Start {
    background: #ff4d4d;
    color: white;
}

button.Start:hover {
    background: #e63b3b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0.5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.row {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.small-label {
    margin: auto;
    font-size: 3vh;
}